<h1>質問する</h1>

<div class="row">
  <%= form_for @question, url: questions_confirm_path do |f| %>
    <% if @question.errors.any? %>
      <% @question.errors.full_messages.each do |msg| %>
        <div style="color: red"><%= msg %></div>
      <% end %>
    <% end %>
    
    <%= f.label :body, class: "sr-only" %>
    <%= f.text_area :body, class: "form-control", placeholder: "質問内容", style: "width: 80%; height: 30vh" %>

    <%= f.submit "質問する", class: "btn btn-primary" %>
  <% end %>
</div>