<h2>質問者：<%= @question.user.name %>さん</h2>
<div>質問内容：<%= @question.body %><div><br>
質問日時：<%= @question.created_at.to_s(:datetime) %>
<% if logged_in? %>
  <% if @question.favorited?(current_user) %>
    <%= link_to question_favorites_path(@question.id), method: :delete do %>
      <span style="color: red">❤︎</span>
    <% end %>
  <% else %>
    <%= link_to question_favorites_path(@question.id), method: :post do %>
      <span>❤︎</span>
    <% end %>
  <% end %>
<% end %>
いいね<%= @favorites.count %>件
<% if logged_in? %>
  <div><%= link_to '回答する', new_question_answers_path(@question.id) %>
<% else %>
  <div>※ログインすると回答できるようになります。</div>
<% end %>

<h2>回答 <small><%= @answers.count %>件</small></h2>
<% @answers.each do |answer| %>
  <h3><%= answer.user.name %>さん</h3>
  <p>回答内容：<%= answer.body %></p>
  回答日時：<%= answer.created_at.to_s(:datetime) %>
<% end %>