<div class="left">
  <div class="col-md-8">
    <h2>最近の質問</h2>
    <% @questions.each do |question| %>
      <div class="col-md-12">
        <div class="card mb-4 shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="10vh"><rect width="100%" height="60%" fill="#55595c"></rect><text x="1%" y="25%" fill="#eceeef" dy=".3em">
          <% if question.user == current_user %>
            <%= link_to question.user.name, mypage_index_path, fill: "white" %>さん
          <% else %>
            <%= link_to question.user.name, user_path(question.user.id), fill: "white" %>さん
          <% end %>
          </text></svg>
          <div class="card-body">
            <p class="card-text text-aligin-left" style="margin-left: 1%"><%= link_to question.body, question_path(question.id) %></p>
            <i class="far fa-heart text-aligin-left" style="color: gray; width: 99%; margin-left: 1%"><%= question.favorites.count %></i>
          </div>
        </div>
      </div>
    <% end%>
  </div>
</div>
<div class="right">
  <div class="col-md-4">
    <%=  image_tag 'Unknown.jpeg', style: "width: 100%" %>
  </div>
  <div class="col-md-4">
    <%= image_tag 'Unknown.jpeg', style: "width: 100%" %>
  </div>
  <div class="col-md-4">
    <h3>いいねが多い質問</h3>
    <% @favorited_questions.first(5).each do |fq| %>
      <div class="col-md-12">
        <div class="card mb-4 shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="10vh"><rect width="100%" height="60%" fill="#55595c"></rect><text x="1%" y="25%" fill="#eceeef" dy=".3em"><%= Question.find(fq.first).user.name %>さん</text></svg>
          <div class="card-body">
            <p class="card-text text-aligin-left" style="margin-left: 1%"><%= link_to Question.find(fq.first).body, question_path(fq.first) %></p>
            <i class="far fa-heart text-aligin-left" style="color: gray; width: 99%; margin-left: 1%"><%= Question.find(fq.first).favorites.count %></i>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>