<h1>回答する</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @answer, url: question_answers_confirm_path do |f| %>
      <% if @answer.errors.any? %>
        <% @answer.errors.full_messages.each do |msg| %>
          <div style="color: red"><%= msg %></div>
        <% end %>
      <% end %>
      
      <%= f.label :body, class: "sr-only" %>
      <%= f.text_area :body, class: "form-control", placeholder: "回答内容", style: "width: 80%; height: 30vh" %>

      <%= f.submit "回答する", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>