<%= stylesheet_link_tag 'mypage', :media => "all" %>
<% unless logged_in? %>
  あなたはログインしていません。
<% else %>
  <h1 style="margin: 5% 0 5% 0">マイページ</h1>
  <div class="row">
    <div class="mypage-left">
      <div class="profile">
        <div class="ClapLv2MyProfile_Chie-MyProfile__Header__2URvS"></div>
        <div class="profile-body">
          <div class="left">
            <%= image_tag 'Unknown.jpeg', style: "width: 100%"%>
          </div>
          <div class="right">
            <h4><%= current_user.name %>さん</h4><br>
            <div class="profile-place">プロフィール</div><br>
            <div class="key-value1">
              <div class="key">メール：</div>
              <div class="value"><%= current_user.email %></div>
            </div><br>
            <div class="key-value2">
              <div class="key">登録日：</div>
              <div class="value"><%= current_user.created_at.to_s(:date) %></div>
            </div><br>
          </div>
        </div>
      </div>
      <div class="list">
        <div class="question">
          <h3>質問</h2>
          <% @questions.each do |question| %>
            <div class="col-md-12">
              <div class="card mb-4 shadow-sm">
                <div class="card-body">
                  <p class="card-text text-aligin-left" style="margin: 5% 0 5% 1%"><%= link_to question.body, question_path(question.id) %></p>
                  <i class="far fa-heart text-aligin-left" style="color: gray; width: 99%; margin-left: 1%"><%= question.favorites.count %></i>
                  <p class="text-aligin-left" style="margin-left: 1%"><%= question.created_at.to_s(:datetime) %></p>
                </div>
              </div>
            </div>
          <% end%>
        </div>
      </div>
    </div>
    <div class="mypage-right">
      <%= image_tag 'Unknown.jpeg', style: "width: 100%" %>
      <%= image_tag 'Unknown.jpeg', style: "width: 100%" %>
    </div>
  </div>
<% end %>
