<!DOCTYPE html>
<html>
  <head>
    <title>Chiebukuro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/navbar-static/">
    <link href="/docs/4.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="navbar-top.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
  </head>

  <body class="text-center">
    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <h1><%= link_to 'ちえぶくろ', root_path, id: "title" %></h1><br><br>
        <div class="nav-second">
          <% if flash[:success].present? %>
            <div style="color: #99E300"><%= flash[:success] %></div>
          <% end %>
          <% if flash[:danger].present? %>
            <div style="color: red"><%= flash[:danger] %></div>
          <% end %>
          <ul class="navbar-nav mr-auto">
            <li>
              <form class="form-inline mt-2 mt-md-0 search-field">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" style="width: 60%">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </li>
            <% if logged_in? %>
              <li class="nav-item active"><%= link_to "こんにちは！#{current_user.name}さん", root_path, class: "nav-link" %></li>
              <li class="nav-item active"><%= link_to '質問する', new_question_path, class: "nav-link" %></li>
              <li class="nav-item active"><%= link_to 'ログアウト', logout_path, method: :delete , class: "nav-link" %></li>
            <% else %>
              <li class="nav-item active"><%= link_to 'ログイン', login_path, class: "nav-link" %></li>
              <li class="nav-item active"><%= link_to 'ユーザー登録はこちらから', new_user_path, class: "nav-link" %></li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
