<!DOCTYPE html>
<html>
  <head>
    <title>Chiebukuro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-center">
    <header>
    <h1><%= link_to 'ちえぶくろ', root_path %></h1>
      <% if flash[:success].present? %>
        <div style="color: #99E300"><%= flash[:success] %></div>
      <% end %>
      <% if flash[:danger].present? %>
        <div style="color: red"><%= flash[:danger] %></div>
      <% end %>
      <% if logged_in? %>
        <%= link_to 'ログアウト', logout_path, method: :delete %>
        <%= link_to '質問する', new_question_path %>
      <% else %>
        <%= link_to 'ログイン', login_path %>
        <%= link_to 'ユーザー登録はこちらから', new_user_path %>
      <% end %>
    </header>
    <%= yield %>
  </body>
</html>
