<!DOCTYPE html>
<html>
  <head>
    <title>Chiebukuro</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.3/examples/navbar-static/">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
    <!-- ↓こいつをつけないとスマホ版でレスポンシブ効かない -->
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
  </head>

  <body class="text-center">
    <header>
      <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <h1><%= link_to 'ちえぶくろ', root_path, id: "title" %></h1>
        <ul id="menu-logo">
          <li class="menu">ー</li>
          <li class="menu">ー</li>
          <li class="menu">ー</li>
        </ul>
        <div class="nav-second">
          <% if flash[:success].present? %>
            <div style="color: #99E300"><%= flash[:success] %></div>
          <% end %>
          <% if flash[:danger].present? %>
            <div style="color: red"><%= flash[:danger] %></div>
          <% end %>
          <div class="nav-right">
            <% if logged_in? %>
              <li class="nav-item active"><%= link_to "こんにちは！#{current_user.name}さん", mypage_index_path, class: "nav-link" %></li>
              <li class="nav-item active"><%= link_to '質問する', new_question_path, class: "nav-link" %></li>
              <li class="nav-item active"><%= link_to '質問一覧', questions_path, class: "nav-link" %></li>
              <li class="nav-item active"><%= link_to 'ログアウト', logout_path, method: :delete , class: "nav-link" %></li>
            <% else %>
              <li class="nav-item active"><%= link_to '質問一覧', questions_path, class: "nav-link" %></li>
              <li class="nav-item active"><%= link_to 'ログイン', login_path, class: "nav-link" %></li>
              <li class="nav-item active"><%= link_to 'ユーザー登録', new_user_path, class: "nav-link" %></li>
            <% end %>
          </div>
        </div>
        <div id="nav-smartphone">
          <ul>
            <div class="nav-slide">
              <% if logged_in? %>
                <li class="nav-item active"><%= link_to "こんにちは！#{current_user.name}さん", mypage_index_path, class: "nav-link" %></li>
                <li class="nav-item active"><%= link_to '質問する', new_question_path, class: "nav-link" %></li>
                <li class="nav-item active"><%= link_to '質問一覧', questions_path, class: "nav-link" %></li>
                <li class="nav-item active"><%= link_to 'ログアウト', logout_path, method: :delete , class: "nav-link" %></li>
              <% else %>
                <li class="nav-item active"><%= link_to '質問一覧', questions_path, class: "nav-link" %></li>
                <li class="nav-item active"><%= link_to 'ログイン', login_path, class: "nav-link" %></li>
                <li class="nav-item active"><%= link_to 'ユーザー登録', new_user_path, class: "nav-link" %></li>
              <% end %>
            </div>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <%= yield %>
    </main>
  </body>
</html>
